
@(category: Categories)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Category</title>
</head>
<body>
<form method="POST" action="@routes.CategoriesController.updateCategory()" id="updateProduct">
    <input type="hidden" name="categoryId" value="@category.categoryId"/><br>
    <input type="text" name="categoryName" value="@category.categoryName"/><br>
    <input type="text" name="description" value="@category.description"/><br>

    <button>Save</button>
</form>

</body>
</html>
